@model List<exoBibliotheque.Models.Auteur>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auteurs</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Nom</th>
            </tr>
            @foreach (exoBibliotheque.Models.Auteur auteur in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@auteur.Nom, "Auteur", new { id = @auteur.Id })</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
